In [1]:
import pandas as pd

In [2]:
train=pd.read_csv('sales_train_v2.csv')

In [21]:
len(train['shop_id'].unique())

60

In [28]:
train.sort_values(by=['date','shop_id','item_id'])

,date,date_block_num,shop_id,item_id,item_price,item_cnt_day
32569,01.01.2013,0,2,991,99.00,1.0
32552,01.01.2013,0,2,1472,2599.00,1.0
32632,01.01.2013,0,2,1905,249.00,1.0
32459,01.01.2013,0,2,2920,599.00,2.0
32504,01.01.2013,0,2,3320,1999.00,1.0
32865,01.01.2013,0,2,4464,599.00,1.0
32833,01.01.2013,0,2,4724,1399.00,1.0
32747,01.01.2013,0,2,5649,2190.00,1.0
32358,01.01.2013,0,2,6911,599.00,1.0
32099,01.01.2013,0,2,6916,999.50,1.0
32129,01.01.2013,0,2,8665,299.00,1.0
32130,01.01.2013,0,2,8712,198.00,1.0
31974,01.01.2013,0,2,11828,1699.00,1.0
32043,01.01.2013,0,2,12134,299.00,1.0
32348,01.01.2013,0,2,13434,13489.50,1.0
32367,01.01.2013,0,2,15456,549.00,1.0
32379,01.01.2013,0,2,16162,629.00,1.0
32225,01.01.2013,0,2,16450,399.00,1.0
32889,01.01.2013,0,2,18914,98.00,1.0
33529,01.01.2013,0,2,19718,149.00,1.0
33479,01.01.2013,0,2,19860,149.00,1.0
33487,01.01.2013,0,2,20424,999.00,1.0
33492,01.01.2013,0,2,20798,999.00,1.0
35514,01.01.2013,0,7,98,399.00,1.0
35476,01.01.2013,0,7,1006,399.00,1.0
35477,01.01.2013,0,7,1008,299.00,1.0
35561,01.01.2013,0,7,1418,349.00,1.0
35572,01.01.2013,0,7,1455,698.00,1.0
35552,01.01.2013,0,7,1524,2999.00,1.0
34932,01.01.2013,0,7,1835,1999.00,1.0
...,...,...,...,...,...,...
2221926,31.12.2014,23,59,14628,199.00,1.0
2221970,31.12.2014,23,59,15040,599.00,2.0
2221916,31.12.2014,23,59,15212,559.00,1.0
2221912,31.12.2014,23,59,15214,1699.00,1.0
2221907,31.12.2014,23,59,15224,999.00,1.0
2221944,31.12.2014,23,59,15336,529.00,1.0
2221938,31.12.2014,23,59,15346,249.00,1.0
2221507,31.12.2014,23,59,15784,299.00,1.0
2221568,31.12.2014,23,59,16011,1249.00,1.0
2221596,31.12.2014,23,59,16014,399.00,1.0
2221599,31.12.2014,23,59,16034,499.00,1.0
2221625,31.12.2014,23,59,16056,699.00,1.0
2221616,31.12.2014,23,59,16059,499.00,2.0
2221619,31.12.2014,23,59,16078,999.00,1.0
2221630,31.12.2014,23,59,16116,599.00,1.0
2221613,31.12.2014,23,59,16122,829.00,1.0
2221602,31.12.2014,23,59,16169,299.00,1.0
2221523,31.12.2014,23,59,16232,599.00,1.0
2221549,31.12.2014,23,59,16541,399.00,1.0
2221725,31.12.2014,23,59,17654,3199.00,1.0
2221721,31.12.2014,23,59,17662,1999.00,1.0
2221761,31.12.2014,23,59,17717,299.00,1.0
2221759,31.12.2014,23,59,17748,349.00,1.0
2221748,31.12.2014,23,59,18069,1799.00,1.0
2222037,31.12.2014,23,59,19985,299.25,2.0
2222406,31.12.2014,23,59,20404,2399.00,1.0
2222408,31.12.2014,23,59,20610,1099.00,1.0
2222326,31.12.2014,23,59,20949,5.00,5.0
2222358,31.12.2014,23,59,21762,1499.00,1.0
2222542,31.12.2014,23,59,22087,99.00,1.0

In [29]:
test=pd.read_csv('test.csv')

In [30]:
test

            ID  shop_id  item_id
0            0        5     5037
1            1        5     5320
2            2        5     5233
3            3        5     5232
4            4        5     5268
5            5        5     5039
6            6        5     5041
7            7        5     5046
8            8        5     5319
9            9        5     5003
10          10        5     4806
11          11        5     4843
12          12        5     4607
13          13        5     4869
14          14        5     4870
15          15        5     4872
16          16        5     4874
17          17        5     4678
18          18        5     4892
19          19        5     4964
20          20        5     4717
21          21        5     5002
22          22        5     5823
23          23        5     5814
24          24        5     5900
25          25        5     5907
26          26        5     5908
27          27        5     5643
28          28        5     5657
29          29        5     5675
...        ...      ...      ...
214170  214170       45    14543
214171  214171       45    19253
214172  214172       45    17957
214173  214173       45    12470
214174  214174       45     7543
214175  214175       45     6661
214176  214176       45    11137
214177  214177       45    11489
214178  214178       45     9782
214179  214179       45     2972
214180  214180       45    19889
214181  214181       45    20650
214182  214182       45     5665
214183  214183       45     9978
214184  214184       45    10767
214185  214185       45    14443
214186  214186       45    14341
214187  214187       45     5401
214188  214188       45     9500
214189  214189       45    16007
214190  214190       45     3280
214191  214191       45     4393
214192  214192       45     4352
214193  214193       45    18049
214194  214194       45    18027
214195  214195       45    18454
214196  214196       45    16188
214197  214197       45    15757
214198  214198       45    19648
214199  214199       45      969

[214200 rows x 3 columns]